*{font-family:'Open Sans',sans-serif;font-size:13px;margin:0;padding:0;border:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html{top:0;left:0;width:100%;}
body{top:0;left:0;width:100%;color:#9e9e9e;font-size:10px;}
ul{list-style:none;}
a{color:#7f99ca;text-decoration:none;outline:0;}
a:hover{color:#8cb8e8;border-bottom:0;}
h1,h2,h3,h4{}
h1{font-size:1.8em;color:#444;}
h2{font-size:1.6em;color:#555;font-weight:normal;}
h4{font-size:1.1em;color:#666;}
h1 > a,h2 > a,h4 > a{font-size:inherit;color:inherit;}
button::-moz-focus-inner{border:0;padding:0;}
input[type="text"],input[type="password"],textarea{width:220px;color:#4c4c4c;padding:0 4px;border:1px solid #a5a5a5;border-bottom:1px solid #b9b9b9;border-top:1px solid #929292;position:relative;border-radius:4px;box-shadow:inset 0 0 1px rgba(205,87,40,.7),0 1px 0 rgba(255,255,255,.4);}
input[type="text"]:focus,input[type="password"]:focus{border:1px solid #cd5728;}

:root{
	--control-font-size:11px;
}

i.floatSeparator{clear:both;}
.inline-block{display:inline-block;}

body > header{min-height:44px;background:#293036;}
ul.top-menu{padding:10px;color:white;}
ul.top-menu > li{display:inline-block;margin:0 10px;line-height:28px;font-weight:bold;cursor:pointer;}
ul.top-menu > li:first-child{border:0;}
.top-info{background:#dce0e3;padding:15px 10px;border-top:1px solid #dce0e3;border-bottom:1px solid #cbced0;}

body > .wrapper{font-size:0;}
body > .wrapper > *{font-size:10px;}
body > .wrapper > .side{display:inline-block;width:230px;vertical-align:top;}
body > .wrapper > .side + .main{display:inline-block;width:calc(100% - 230px);background:#f6f6f6;}
body > .wrapper > .side > div{padding:4px 8px;color:#7c858e;}
body > .wrapper > .side > div:first-child{margin-top:4px;}
body > .wrapper > .side > div:hover{color:#beccd9;}
body > .wrapper > .side > div > a{color:inherit;}
section.padding{padding:20px;}
section > header{padding-bottom:10px;border-bottom:1px solid #ddd;}
section > header + *{margin-top:20px;}
section > header > .btn-group{margin-top:16px;}

.box{display:inline-block;width:300px;padding:5px;background:white;border:1px solid #ccc;box-shadow:0 1px 3px #ccc;border-radius:5px;}
.project-box{display:inline-block;width:300px;border:1px solid #ddd;padding:10px;border-radius:4px;}
.project-box h3{color:#777;font-weight:normal;font-size:1.3em;}
.project-box h3 > a{color:inherit;font-size:inherit;}

ul.table{display:table;width:100%;margin:10px 0;}
ul.table > li{display:table-row;}
ul.table > li > div{display:table-cell;padding:1px 4px;vertical-align:middle;}
ul.table > li > div > img{display:block;}
ul.table > li:nth-child(2n+1){background:#f7f7f7;}
ul.table > li.header{background:transparent;}
ul.table > li.header > div{padding-top:10px;padding-bottom:10px;color:#222;border-bottom:1px solid #eee;}
ul.table.radio > li > div:first-child{width:1px;}
/* INI-buttons */
.btn{position:relative;display:inline-block;font-size:var(--control-font-size);line-height:16px;padding:4px 10px 3px 10px;margin-bottom:2px;border-radius:2px;background:#0997d5;color:white;box-shadow:0 2px 0 #088ac2;cursor:default;vertical-align:middle;}
.btn:hover{color:white;}
.btn-search{min-width:200px;font-size:0;}
.btn-search > form{font-size:0;}
.btn-search > input,.btn-search > form > input{display:inline-block;font-size:13px !important;padding:4px 10px;border:0;margin-bottom:2px;vertical-align:top;background:rgba(200,200,200,.1);color:#888;border-top-right-radius:0;border-bottom-right-radius:0;}
.btn-search > input:focus,.btn-search > form > input:focus{border:0;}
.btn-search > .btn,.btn-search > form > .btn{border-top-left-radius:0;border-bottom-left-radius:0;}
.btn > i{vertical-align:middle;font-size:inherit;}
.btn-group{font-size:0;}
.btn-group.right{text-align:right;}
.btn-group.clean{color:#999;}
.btn-group.clean > .btn{color:inherit;background:none;padding:0;margin:0;border:0;box-shadow:none;cursor:pointer;}
.btn-group.clean > .btn:hover{color:#777;}
.btn-group.clean > .btn + .btn{margin-left:16px;}
.btn-group .btn + .btn{margin-left:10px;}
/* END-buttons */
/* INI-dropdown */
.dropdown-toggle{position:relative;}
.dropdown-menu{position:absolute;left:0;z-index:9999999;display:none;min-width:300px;list-style:none;background:linear-gradient(to bottom,#fff,#fff 1px,#efefef 1px,#ededed);color:#444;font-size:13px;text-align:left;box-shadow:0 1px 8px rgba(100,100,100,.8);border-bottom:1px solid #aaa;border-radius:4px;z-index:100;}
.dropdown-toggle.active > .dropdown-menu{display:block;overflow:hidden;}
.dropdown-menu li{padding:0 10px;min-height:19px;color:#555;}
.dropdown-menu li>a{display:block;text-decoration:none;color:inherit;white-space:nowrap;}
.dropdown-menu .datepicker{padding:4px;}
.dropdown-menu > .wrapper{padding:4px;}
.dropdown-menu > .wrapper .btn-group:last-child{margin:5px;}
.dropdown-menu h4{margin:0;padding:0;}
.dropdown-menu.padded{padding:8px;}
/* END-dropdown */

/* INI-row-info */
.row-info{padding:10px 0;margin:10px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;font-size:0;}
.row-info > span{font-size:var(--control-font-size);}
.row-info > span{padding:0 10px;border-right:1px solid #ddd;}
.row-info > span > a{font-size:inherit;}
/* END-row-info */

/* INI-node */
.node{position:relative;padding:10px;background:white;}
.node + .node{border-top:1px solid #eee;}
.node h1{font-size:26px;}
.node h2{font-size:22px;}
.node h2 > *{font-size:inherit;color:inherit;}
.node p{color:#777;}
.node header{padding-bottom:20px;}
.node header > h2{padding:0;}
.node .image{display:inline-block;vertical-align:top;}
.node .image > img{display:block;border-top:1px solid transparent;}
.node .image > i{display:block;background:#23d8a5;color:white;text-align:center;font-style:normal;}
.node .wrapper{display:inline-block;vertical-align:top;}
.node .wrapper .search-map{width:100%;height:240px;}
.node .wrapper .header{margin-bottom:10px;}
.node .image + .wrapper{margin-left:10px;}
.node .image.s16  + .wrapper{margin-left:0;width:calc(100% - 16px - 6px);}
.node .image.s32  + .wrapper{width:calc(100% - 32px - 14px);}
.node .image.s48  + .wrapper{width:calc(100% - 48px - 20px);}
.node .image.s64  + .wrapper{width:calc(100% - 64px - 20px);}
.node .image.s120 + .wrapper{width:calc(100% - 120px - 20px);}
.node .image.s16  img{width:16px;}
.node .image.s32  img{width:32px;}
.node .image.s48  img{width:48px;}
.node .image.s64  img{width:64px;}
.node .image.s120 img{width:120px;}
.node .image.s16  i{width:16px;height:16px;line-height:16px;font-size:1em;}
.node .image.s32  i{width:32px;height:32px;line-height:32px;font-size:1.3em;}
.node .image.s48  i{width:48px;height:48px;line-height:48px;font-size:1.4em;}
.node .image.s64  i{width:64px;height:64px;line-height:64px;font-size:1em;}
.node .image.s120 i{width:120px;height:120px;line-height:120px;font-size:1em;}
/* END-node */
/* INI-markdown-editor */
.coredown{border-top:2px solid #aec71e;border-bottom:1px solid #DDD;vertical-align:top;font-size:0;white-space:nowrap;}
.coredown .top{height:30px;line-height:12px;vertical-align:top;text-transform:uppercase;color:#CCC;font-size:0;cursor:pointer;}
.coredown .left{display:inline-block;width:50%;padding:8px;font-size:12px;white-space:normal;vertical-align:top;overflow-x:hidden;border-right:1px solid #DDD;}
.coredown .left textarea{display:block;width:100%;height:100%;font-family:'Courier New',Courier,monospace;border:0;font-size:12px;white-space:normal;}
.coredown .left.editor{font-family:'Courier New',Courier,monospace;outline:0;}
.coredown .content{background:#f5f5f5;}
.coredown .content .left{min-height:200px;}
.coredown .right{display:inline-block;width:50%;padding:8px;font-size:12px;white-space:normal;vertical-align:top;}
.coredown .right img{width:100%;}
@media(max-width:470px){
	.coredown .content .left{display:block;width:100%;}
	.coredown .content .right{display:none;width:100%;}
	.coredown .top .right{background:#ddd;}
	.coredown .top .left{background:transparent;}
	.coredown.showRight .content .left{display:none;width:100%;}
	.coredown.showRight .content .right{display:block;width:100%;}
	.coredown.showRight .top .right{background:transparent;}
	.coredown.showRight .top .left{background:#ddd;}
}
/* END-markdown-editor */

/*===INI-INPUTS===*/
div.colorLegend{width:10px;padding:1px;border-bottom:1px solid #BBB;border-right:1px solid #BBB;}
div.colorLegend div{height:10px;}
div.colorLegendLabel{padding-left:17px;line-height:15px;}
/*===END-INPUTS===*/


